<% include ./header.ejs %>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    </br>
    <div class="col-lg-12 jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="my-4">Event Number: <%=event.event_id%></h1>
            <p>This is finished. Now you can assign goals and assists.</p>
        </div>
    </div>

    <div id="alert"></div>
    <div class="row col-lg-12">

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Place:</b> <%=event.place%></li>
                <li class="list-group-item"><b>Date:</b> <%=event.date%></li>
                <li class="list-group-item"><b>Number Of Players:</b> <span
                        class="badge badge-primary badge-pill"><%=event.players.length%></span>
                </li>
            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Status:</b> <%=event.status%></li>
                <li class="list-group-item"><b>Result:</b> <% if(event.team1.goals > event.team2.goals){ %>
                    <span><b><%=event.team1.goals%> : </b><%=event.team2.goals%></span>
                    <% } %>
                    <% if(event.team2.goals > event.team1.goals){ %>
                    <span><%=event.team1.goals%> : <b><%=event.team2.goals%></b></span>
                    <% } %>
                    <% if(event.team1.goals == event.team2.goals){ %>
                    <span><%=event.team1.goals%> : <%=event.team2.goals%></span>
                    <% } %></li>
                <li class="list-group-item"><b>Event owner:</b></li>
            </ul>
        </div>
        <% if ((loggedUser._id == event.owner || loggedUser.admin == true) && event.status!=='closed'){{%>
        <div class="col">
            <button onclick="submitGoalsAndAssists('<%=event._id%>')" class="btn btn-outline-primary">Submit
                Form</button>
        </div>
        <% }} %>
    </div></br>

    <div class="row col-lg-12">
        <div class="col">
            <h3 class="my-3">Team 1</h3>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Goals</th>
                        <th scope="col">Assists</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% var i = 0; event.team1.players.forEach(function(player) { i++; %>
                    <tr>
                        <% if (event.status=='closed'){{%>
                        <th scope="row"><%=i%></th>
                        <td><%=player.username%></td>
                        <td><input disabled type="number" id="goals1_<%=i%>" min=0 value="<%=player.goals%>"
                                class="form-control"></td>
                        <td><input disabled type="number" id="assists1_<%=i%>" min=0 value="<%=player.assists%>"
                                class="form-control"></td>
                        <td></td>
                        <% }} %>
                        <% if (event.status=='finished'){{%>
                        <th scope="row"><%=i%></th>
                        <td><%=player.username%></td>
                        <td><input type="number" id="goals1_<%=i%>" min=0 value="<%=player.goals%>"
                                class="form-control"></td>
                        <td><input type="number" id="assists1_<%=i%>" min=0 value="<%=player.assists%>"
                                class="form-control"></td>
                        <td><button type="button" onclick="assignGoalsAndAssists('<%=i%>', 'team1', '<%=event._id%>')"
                                class="btn btn-outline-success btn-sm">Submit</button></td>
                        <% }} %>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <div class="col">
            <h3 class="my-3">Team 2</h3>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Goals</th>
                        <th scope="col">Assists</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% var i = 0; event.team2.players.forEach(function(player) { i++; %>
                    <tr>
                        <% if (event.status=='closed'){{%>
                        <th scope="row"><%=i%></th>
                        <td><%=player.username%></td>
                        <td><input type="number" disabled id="goals2_<%=i%>" min=0 value="<%=player.goals%>"
                                class="form-control"></td>
                        <td><input type="number" disabled id="assists2_<%=i%>" min=0 value="<%=player.assists%>"
                                class="form-control"></td>
                        <td></td>
                        <% }} %>
                        <% if (event.status=='finished'){{%>
                        <th scope="row"><%=i%></th>
                        <td><%=player.username%></td>
                        <td><input type="number" id="goals2_<%=i%>" min=0 value="<%=player.goals%>"
                                class="form-control"></td>
                        <td><input type="number" id="assists2_<%=i%>" min=0 value="<%=player.assists%>"
                                class="form-control"></td>
                        <td><button type="button" onclick="assignGoalsAndAssists('<%=i%>', 'team2', '<%=event._id%>')"
                                class="btn btn-outline-success btn-sm">Submit</button></td>
                        <% }} %>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card col-lg-12">
        <div class="card-body text-primary">
            <h5 class="card-title">How does it work?</h5>
            <p class="card-text">Your goals and assists will be assigned to your stats just after event owner submit
                this form.</p>
        </div>
    </div>
</div>
<!-- /.container -->

</body>
<script type="text/javascript" src="/javascripts/eventDetail.js"></script>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Made by Rastafactory
    </div>
</footer>
<!-- Footer -->

</html>