<% include ./header.ejs %>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Statistics</h1>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Nickname</th>
        <th scope="col">Games Played</th>
        <th scope="col">Wins</th>
        <th scope="col">Loses</th>
        <th scope="col">Goals</th>
        <th scope="col">Assists</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <% var i = 0; players.forEach(function(player) { i++; %>
      <tr>
        <th scope="row"><%=i%></th>
        <td><%=player.firstname%></td>
        <td><%=player.lastname%></td>
        <td><a href="/profile/<%= player._id%>"><%=player.username%></a></td>
        <td><%=player.summary.gamesplayed%></td>
        <td><%=player.summary.wins%></td>
        <td><%=player.summary.losses%></td>
        <td><%=player.summary.goals%></td>
        <td><%=player.summary.assists%></td>
        <td><%=player.summary.points%></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
</body>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Made by Rastafactory
  </div>
</footer>
<!-- Footer -->

</html>